<!--Loader-->
<div class="loader-wrapper" *ngIf="false">
  <div class="loader"></div>

  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<!--Loader-->
<!--login wrapper-->
<div class="login-wrapper row">
  <div class="login_left mobileHidden col-12 col-sm-12 col-md-7">
    <nz-carousel nzAutoPlay nzDotPosition="left">
      <div nz-carousel-content >
        <div class="slide">
          <div class="slide__img">
          </div>
          <div class="slide__content">
            <div class="slide__content--headings text-center">
              <img src="../assets/img/slider-1.svg" alt="slider"
                   class="animated top-title"
                   data-animation-in="zoomInImage" data-delay-in="0.1">

              <h2 class="animated title"
                  data-animation-in="fadeIn"  data-delay-in="0.3">
                Secured<br/>
                Operation
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div nz-carousel-content >
        <div class="slide">
          <div class="slide__img">
          </div>
          <div class="slide__content">
            <div class="slide__content--headings text-center">
              <img src="../assets/img/slider-2.svg" alt="slider"
                   class="animated top-title" data-animation-in="zoomInImage" data-delay-in="0.1">
              <h2 class="animated title" data-animation-in="zoomInImage"  data-delay-in="0.3">
                Saving<br/>
                Online
              </h2>
            </div>
          </div>
        </div>
      </div>

      <div nz-carousel-content>
        <div class="slide">
          <div class="slide__img">
          </div>
          <div class="slide__content">
            <div class="slide__content--headings text-center">
              <img src="../assets/img/slider-3.svg" alt="slider"
                   data-animation-in="fadeInBottom"
                   data-delay-in="0.1">

              <h2 class="animated title" data-animation-in="fadeInBottom" data-delay-in="0.3">
                Safely transfer <br/>
                your money
              </h2>
            </div>
          </div>
        </div>
      </div>

    </nz-carousel>




  </div>
  <div class="login_right col-12 col-sm-12 col-md-5">
    <div class="login_form">
      <div class="login-logo">
        <img src="../assets/img/main-logo.svg" alt="logo">
      </div>



      <form  nz-form [formGroup]="passwordForm" autocomplete="disabled">
        <nz-spin nzTip="Loading..." [nzSpinning]="isLoading">
          <div class="">
            <div class="login-title">
              <h1>Reset password</h1>
            </div>
            <div class="alert alert-danger" *ngIf="initialized && !key">
              <strong>The password reset key is missing.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="key && !success">
              <span>Choose a new password</span>
            </div>

            <div class="alert alert-danger" *ngIf="error">
              <span>Your password couldn't be reset. Remember a password request is only valid for 24 hours.</span>
            </div>

            <div class="alert alert-success" *ngIf="success">
              <span><strong>Your password has been reset.</strong> Please </span>
              <a class="alert-link" routerLink="/login">sign in</a>.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">The password and its confirmation do not match!</div>

            <div class="form-group">
<!--              <label class="form-label" for="newPassword">New password</label>-->
              <input
                      type="password"
                      class="inputMaterial"
                      id="newPassword"
                      name="newPassword"
                      placeholder=""
                      formControlName="newPassword"
                      data-cy="resetPassword"
                      #newPassword
              />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Password</label>

              <div
                      *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
              >
                <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
                  Your password is required.
                </small>

                <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                  Your password is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                  Your password cannot be longer than 50 characters.
                </small>
              </div>

<!--              <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>-->
            </div>

            <div class="form-group">
<!--              <label class="form-label" for="confirmPassword">New password confirmation</label>-->
              <input
                      type="password"
                      class="inputMaterial"
                      id="confirmPassword"
                      name="confirmPassword"
                      placeholder=""
                      formControlName="confirmPassword"
                      data-cy="confirmResetPassword"
              />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Confirm the new password</label>

              <div
                      *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
              >
                <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                  Your password confirmation is required.
                </small>

                <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                  Your password confirmation is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                  Your password confirmation cannot be longer than 50 characters.
                </small>
              </div>
            </div>

          </div>
        </nz-spin>
        <div class="login-buttons">

          <a class=" btn btn-submit" (click)="finishReset()" >
            Reset Password
          </a>
        </div>
      </form>

    </div>
  </div>
</div>
<!--/login wrapper-->


