<!--Loader-->
<div class="loader-wrapper" *ngIf="false">
  <div class="loader"></div>

  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<div class="app-wrapper row" style=" height: 98%;   background-color: #F9F7FE;;">

   <div class="user-box1">
      <div class="media d-flex align-items-center" style="width: 80%;">
         <!-- <img *ngIf="!userData.imageUrl" class="mt-0" src="../assets/img/user.png" alt="user-img"> -->
         <img *ngIf="userData.imageUrl" class="mt-0" [src]="userData.imageUrl" alt="user-img">
         <svg id="Group_14597" data-name="Group 14597" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 31 31">
          <circle id="Ellipse_23" data-name="Ellipse 23" cx="15.5" cy="15.5" r="15.5" fill="#6a39a6"/>
          <text id="SA" transform="translate(7 21)" fill="#fff" font-size="14" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0">{{ userData?.lastName ? userData?.lastName.substr(0,2).toUpperCase() : '' }}</tspan></text>
        </svg>   

         <div class="media-body">
            <h5 class="mt-0">{{userData.lastName}}</h5>
         </div>

      </div>

      <a href="#" (click)="logout()">
         <img class="logout" src="../assets/img/logout-svgrepo-com.svg"/>
       </a>
   </div>

  <div class="app-sidebar">
     <div class="d-flex flex-column align-items-center w-100">
        <div class="sidebar-logo">
           <img src="../assets/img/min-logo.svg" alt="logo-icon">
        </div>
        <div class="main-menu">
           <ul>
              <li class="active">
                 <a href="#">
                 <span>
                 <img src="../assets/img/menu-icon1.svg" alt="menu-icon">
                 </span>
                 Pay
                 </a>
              </li>
              <li>
                 <a href="#">
                 <span>
                 <img src="../assets/img/menu-icon2.svg" alt="menu-icon">
                 </span>
                 Get payed
                 </a>
              </li>
              <li>
                 <a href="#">
                 <span>
                 <img src="../assets/img/menu-icon3.svg" alt="menu-icon">
                 </span>
                 Contacts
                 </a>
              </li>
              <li>
                 <a href="#">
                 <span>
                 <img src="../assets/img/menu-icon4.svg" alt="menu-icon">
                 </span>
                 Settings
                 </a>
              </li>
           </ul>
        </div>
     </div>
     <div class="">
        <img src="../assets/img/support-icon.svg" alt="support-icon">
     </div>
  </div>
  <div class="app-main-outer">
     <div class="app-header">
        <div class="search-panel">
           <div class="sample eight">
              <input type="text" name="search" [(ngModel)]="searchValue2" (keyup.enter)="Search()" class="serchinput" placeholder="Search your ..">
              <button type="submit" class="btn btn-search">
                 <img src="../assets/img/search-icon.svg" alt="search-icon">
              </button>
              <button type="reset" class="btn btn-reset">
                 <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-xmark fa-xl"><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z" class=""></path></svg>
              </button>
           </div>
        </div>
        <div class="user-panel">
           <div class="notification-box">
              <span class="notification-bell play-video-first-fadeout" >

              <img src="../assets/img/notification.svg"
              alt="notification-icon" class="fa fa-bell faa-ring animated ">
              <span class="notification-circle"></span>
              </span>
           </div>
           <div class="user-box">
              <div class="media d-flex align-items-center">
                 <!-- <img *ngIf="!userData.imageUrl" class="mt-0" src="../assets/img/user.png" alt="user-img"> -->
                 <img *ngIf="userData.imageUrl" class="mt-0" [src]="userData.imageUrl" alt="user-img">
                 <svg id="Group_14597" data-name="Group 14597" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 31 31">
                  <circle id="Ellipse_23" data-name="Ellipse 23" cx="15.5" cy="15.5" r="15.5" fill="#6a39a6"/>
                  <text id="SA" transform="translate(7 21)" fill="#fff" font-size="14" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0">{{ userData?.lastName ? userData?.lastName.substr(0,2).toUpperCase() : '' }}</tspan></text>
                </svg>   

                 <div class="media-body">
                    <h5 class="mt-0">{{userData.lastName}}</h5>
                 </div>

                 <a href="#" (click)="logout()">
                  <img class="logout" src="../assets/img/logout-svgrepo-com.svg"/>
                </a>
              </div>
           </div>
        </div>
     </div>
     <div class="app-content">
        <div class="row">
         <app-pay [(search)]="searchValue" style="width: 100%;"></app-pay>
        </div>
     </div>
  </div>

</div>
