<!--Loader-->
<div class="loader-wrapper" *ngIf="false">
  <div class="loader"></div>

  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<!--Loader-->
<!--login wrapper-->
<div class="login-wrapper row">
  <div class="login_left mobileHidden col-12 col-sm-12 col-md-7">
    <nz-carousel nzAutoPlay nzDotPosition="left">
      <div nz-carousel-content >
        <div class="slide">
          <div class="slide__img">
          </div>
          <div class="slide__content">
            <div class="slide__content--headings text-center">
               <img src="../assets/img/slider-1.svg" alt="slider"
               class="animated top-title"
                data-animation-in="zoomInImage" data-delay-in="0.1">

              <h2 class="animated title"
              data-animation-in="fadeIn"  data-delay-in="0.3">
                Secured<br/>
                Operation
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div nz-carousel-content >
        <div class="slide">
          <div class="slide__img">
          </div>
          <div class="slide__content">
            <div class="slide__content--headings text-center">
              <img src="../assets/img/slider-2.svg" alt="slider"
              class="animated top-title" data-animation-in="zoomInImage" data-delay-in="0.1">
               <h2 class="animated title" data-animation-in="zoomInImage"  data-delay-in="0.3">
                Saving<br/>
                Online
               </h2>
            </div>
          </div>
        </div>
      </div>

      <div nz-carousel-content>
        <div class="slide">
          <div class="slide__img">
          </div>
          <div class="slide__content">
            <div class="slide__content--headings text-center">
              <img src="../assets/img/slider-3.svg" alt="slider"
              data-animation-in="fadeInBottom"
              data-delay-in="0.1">

               <h2 class="animated title" data-animation-in="fadeInBottom" data-delay-in="0.3">
                Safely transfer <br/>
your money
               </h2>
            </div>
          </div>
        </div>
      </div>

    </nz-carousel>




  </div>
  <div class="login_right col-12 col-sm-12 col-md-5">
    <div class="login_form">
      <div class="login-logo">
        <img src="../assets/img/main-logo.svg" alt="logo">
      </div>



      <form  nz-form [formGroup]="formLoginData" autocomplete="disabled">
        <nz-spin nzTip="Loading..." [nzSpinning]="isLoading">
        <div class="">
          <div class="login-title">
            <h1>Sign in</h1>
          </div>
          <div class="form-group">
            <input class="inputMaterial" nz-input formControlName="email" type="email" (change)="emailIsChanged()" >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Company e-mail</label>
              <span style="color: red;" *ngIf="formLoginData.controls['email'].errors?.email && isClickable">The input is not valid E-mail!</span>
              <span  style="color: red;"  *ngIf="formLoginData.controls['email'].errors?.required && isClickable">Please input your E-mail!</span>

          </div>



          <div class="form-group">
            <input class="inputMaterial" formControlName="password" type="password" placeholder="" [(ngModel)]="data.password">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Password</label>
          </div>
          <div class="rememberMe">
            <div class="custom-checkbox">
              <div class="form-check form-check-inline">
                <input type="checkbox" id="exampleCheck1" formControlName="rememberMe">
                <label for="exampleCheck1">
                  remember me
                </label>

              </div>

            </div>

            <a [routerLink]="['/forget-password']" href="#" class="">
              Forget password
            </a>
          </div>
        </div>
      </nz-spin>
        <div class="login-buttons">

          <a class=" btn btn-submit" (click)="login()" >
            Sign in
          </a>
          <a class="btn btn-outline-primary signupbtn" [routerLink]="['/singup']">
            Don't have a Taj account? Sign up
          </a>

        </div>
      </form>

    </div>
  </div>
</div>
<!--/login wrapper-->


