::ng-deep{
nz-select {
    width: 100%;
    border-bottom: 1px solid #9999AA;
    color: #C0C0CA;
    font-size: 16px;
    font-family: var(--font-family-bold);
    div{
        border: 0px solid !important;
    }
    .ant-select-selection-selected-value{
        color: #C0C0CA;
    }
    .ant-select-selection__rendered{
        margin-left: 0px !important;
    }
  }
}