<div class="modal fade" id="exampleModalDetails" #exampleModalDetails tabindex="-1" role="dialog" aria-labelledby="exampleModalDetailsTitle"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bill-details">
         <div class="modal-body">
            <div class="modal-inner-heading">
               <h4 class="text-left">
                  Bill details
               </h4>

            </div>
            <form  nz-form [formGroup]="formAddBillData" autocomplete="disabled">
               <div class="container-fluid p-0">
                  <div class="row">
                     <div class="col-12">
                        <div class="form-group">
           
                           <nz-select
                           nzShowSearch
                           nzServerSearch
                           nzPlaceHolder="Vendor Name"
                           [(ngModel)]="selectedValue"
                           [nzFilterOption]="nzFilterOption"
                           nzNotFoundContent="Not Found"
                           (nzOnSearch)="search($event)"
                           formControlName="vendorName"
                         >
                           <nz-option *ngFor="let o of listOfOption" [nzLabel]="o.text" [nzValue]="o.value"></nz-option>
                         </nz-select>

                         <!-- <nz-select
                         style="width: 100%"
                         nzMode="multiple"
                         nzPlaceHolder="Inserted are removed"
                         [(ngModel)]="listOfSelectedValue"
                       >
                         <ng-container *ngFor="let option of listOfOption" style="z-index: 9999;">
                           <nz-option
                             [nzLabel]="option"
                             [nzValue]="option">
                           </nz-option>
                         </ng-container>
                       </nz-select> -->

                        </div>


                     </div>
                     <div class="col-12">
                        <div class="form-group">
                           <input formControlName="billAmount" class="inputMaterial" type="number" placeholder=" ">
                           <span class="highlight"></span>
                           <span class="bar"></span>
                           <label>Bill amount</label>
                        </div>
                     </div>
                     <div class="col-12">
                        <div class="form-group">
                           <span class="bar"></span>
                           <label>Payment Frequency</label>
                        </div>
                           <nz-radio-group formControlName="PaymentFreq" nzName="radiogroup" style="margin-bottom: 60px">
                              <label nz-radio nzValue="ONE_TIME">One Time</label>
                              <label nz-radio nzValue="MONTHLY">Monthly</label>
                              <label nz-radio nzValue="WEEKLY">Weekly</label>
                            </nz-radio-group>
                       
                     </div>
                     <div class="col-12">
                        <div class="form-group">
                           <input formControlName="billNo" class="inputMaterial" type="number" placeholder=" ">
                           <span class="highlight"></span>
                           <span class="bar"></span>
                           <label>Bill no. (Optionol)</label>
                        </div>
                     </div>
                  </div>
               </div>
            </form>

            <nz-alert
            *ngIf="!isValid"
            [nzType]="'error'"
            [nzMessage]="'Validation Error'"
            [nzDescription]="'Some inputs in the form is requird'"
          ></nz-alert>

         </div>
         <div class="modal-footer">

            <div class="" style="    width: 80%;">
               <button *ngIf="formAddBillData.value.PaymentFreq != 'ONE_TIME'" class="btn btn-submit billbtn" type="submit" (click)="AddBill()">
                  Save and Schedule a Payment
               </button>
               <button  *ngIf="formAddBillData.value.PaymentFreq == 'ONE_TIME'" class="btn btn-outline-primary" (click)="AddBill()" type="button">
                  Save and Close
               </button>
               <button #closebutton style="display: none;" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
         </div>
      </div>
   </div>
</div>