
input:focus {
  outline: none;
}

/***radio buttons***/
.custom-radiobutton {
    display:flex;
    align-items: center;
    margin-top: 3px;
}
.custom-radiobutton .rdio {
    position: relative;
  }
  .custom-radiobutton .rdio:not(:last-child){
      margin-left: 20px;
  }
  .custom-radiobutton .rdio input[type=radio] {
    opacity: 0;
  }
  .custom-radiobutton .rdio label {
    padding-right: 12px;
    cursor: pointer;
    margin-bottom: 0px !important;
  }
  .custom-radiobutton .rdio label:before {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    right: 0;
    content: "";
    display: inline-block;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #828282;
    background: #fff;
  }
 .custom-radiobutton .rdio input[type=radio] {
    margin: 0px;
  }
 .custom-radiobutton .rdio input[type=radio]:disabled + label {
    color: #999;
  }
  /*.custom-radiobutton .rdio input[type=radio]:disabled + label:before {
    background-color: #fbc52d;
  } */
 .custom-radiobutton .rdio input[type=radio]:checked + label::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 5px;
    display: inline-block;
    font-size: 10px;
    width: 10px;
    height: 10px;
    background-color: var( --light-main-color);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
  
  .custom-radiobutton .rdio-default input[type=radio]:checked + label:before {
    border-color: var(--main-color);
  }
  
  .custom-radiobutton .rdio-primary input[type=radio]:checked + label:before {
    border-color: var(--main-color);
  }
 .custom-radiobutton .rdio-primary input[type=radio]:checked + label::after {
    background-color: var(--main-color);
  }

   /*****checkbox****/
.custom-checkbox input[type=checkbox] {
  display: none;
  cursor: pointer;
}

.custom-checkbox input[type=checkbox] + label:before {
  content:'';
  -webkit-appearance: none;
  background-color: var(--white-color);
  border: 3px solid var(--main-color);
  border-radius: 4px;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); */
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 5px;
  width:18px;
  height:18px;
  margin-right: 5px;
}

.custom-checkbox input[type=checkbox]:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 11px;
  width: 5px;
  height:13px;
  border: 1px solid var(--main-color);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.custom-checkbox .form-check-inline{
  margin-bottom: 0;
  margin-right: 0;
}
.custom-checkbox .form-check-inline:not(:last-child){
  margin-left: 10px;
}
.custom-checkbox .form-check-inline label{
 color: var(--black-color);
 font-family: var(--font-family-bold);
 font-size:15px;
 text-transform: capitalize;
}


/***radio buttons***/
.custom-radiobuttons {
  display:flex;
  align-items: center;
  margin-top: 3px;
}
.custom-radiobuttons .rdio {
  position: relative;
}
.custom-radiobuttons .rdio:not(:last-child){
    margin-left: 20px;
}
.custom-radiobuttons .rdio input[type=radio] {
  opacity: 0;
}
.custom-radiobuttons .rdio label {
  padding-right: 12px;
  cursor: pointer;
  margin-bottom: 0px !important;
}
.custom-radiobuttons .rdio label:before {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  right: 0;
  content: "";
  display: inline-block;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 2px solid #828282;
  background: #fff;
}
.custom-radiobuttons .rdio input[type=radio] {
  margin: 0px;
}
.custom-radiobuttons .rdio input[type=radio]:disabled + label {
  color: #999;
}
/*.custom-radiobuttons .rdio input[type=radio]:disabled + label:before {
  background-color: #fbc52d;
} */
.custom-radiobuttons .rdio input[type=radio]:checked + label::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 5px;
  display: inline-block;
  font-size: 10px;
  width: 10px;
  height: 10px;
  background-color: var( --light-main-color);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.custom-radiobuttons .rdio-default input[type=radio]:checked + label:before {
  border-color: var(--main-color);
}

.custom-radiobuttons .rdio-primary input[type=radio]:checked + label:before {
  border-color: var(--main-color);
}
.custom-radiobuttons .rdio-primary input[type=radio]:checked + label::after {
  background-color: var(--main-color);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}