.app-wrapper{
    padding:20px;
    display:flex;
}
.app-wrapper .app-sidebar{
    position:fixed;
    width:140px;
    background-color: var(--white-color);
    border-radius:20px;
    height: calc(100vh - 40px) ;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    padding-top:35px;
    padding-bottom:35px
}
.app-wrapper .app-sidebar .main-menu{
    width:100%;
}
.app-wrapper .app-sidebar ul{
    list-style: none;
    padding:0;
    margin-top: 60px;
    width:100%;
}
.app-wrapper .app-sidebar ul li{
    width:100%;
    padding-top: 15px;
    padding-bottom:15px;
    position: relative;
    margin-bottom:20px
}
.app-wrapper .app-sidebar ul li a{
    display:block;
    text-decoration:none;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size: 14px;
    color:var(--dark-gery-color);
    font-family: var(--font-family-regular);
}
.app-wrapper .app-sidebar ul li a span{
    margin-bottom: 15px;
}
.app-wrapper .app-sidebar ul li.active::after{
    content:"";
    position:absolute;
    width:3px;
    height:100%;
    background-color:var(--blue-color);
    right:0;
    top: 0;
}
.app-wrapper .app-sidebar ul li.active a{
    color:var(--blue-color);
}
.app-wrapper .app-sidebar ul li:hover {
  background-color:var(--blue-color);
}
.app-wrapper .app-sidebar ul li:hover a{
  color: var(--white-color);
}
.app-wrapper .app-sidebar ul li:hover img{
  filter: brightness(0) invert(1);
}
.app-wrapper  .app-main-outer{
    width:100%;
    padding-left: 160px;
}
.app-main-outer .app-header{
    width: 100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 1px solid #E3E5F4;
    padding-bottom: 15px;
    padding-left: 45px;
    padding-right: 50px;
}
.app-header .user-panel{
    display:flex;
    align-items:center;
}
.app-header .user-panel .notification-box span.notification-bell{
    width: 50px;
    height:50px;
    border-radius: 50%;
    border: 1px solid #8E8EA1;
    display:flex;
    align-items:center;
    justify-content: center;
    position: relative;
    margin-right: 40px;
}

 .user-panel .notification-box span.notification-circle{
    position:absolute;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: var(--red-color);
    top: 0;
    right:3px;
}
.user-panel .user-box{
    display:flex;
    align-items:center;
}
.user-panel .user-box img{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.user-panel .user-box h5{
    margin-bottom:0;
    font-family: var(--font-family-bold);
    font-size: 16px;
    padding-left: 15px;
}
/***search bar**/

.search-panel input {
    border: 0 !important;
    box-shadow: 0 0 0 !important;
    background-color:transparent !important;
    font-size: 18px;
    height: 30px;
    padding: 4px 0;
    position: absolute;
    width: 250px;
    font-size: 13px;
}


button:focus {
  outline: none;
}
button.btn-search, button.btn-reset {
  background: var(--secondary-color) ;
  border: none;
  height: 30px;
  font-size: 12px;
  padding: 4px;
  position: absolute;
  width: 30px;
}

.sample {
  float: left;
  height: 50px;
  margin: 0 8%;
  position: relative;
  width: 34%;
}

.sample.eight input {
  border-right: none;
  transition: all .3s ease-in;
  width: 120px;
}
.sample.eight input:focus {
  width: 220px;
}
.sample.eight input:focus ~ button.btn-search {
  background: var(--secondary-color) ;
  border-radius: 0 50% 50% 0;
  color: #fff;
  left: 220px;
}
 .sample.eight input:focus ~ button.btn-reset {
  animation: bounceRight .6s;
  animation-delay: .2s;
  animation-timing-function: cubic-bezier(0.3, 0.2, 1, 0.8);
  border-radius: 50%;
  color: #fff;
  left: 254px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

 .sample.eight button.btn-search {
  background: #482275;
  left: 120px;
  transition: all .3s ease-in;
}

 .sample.eight button.btn-reset {
  background: var(--main-color);
  height: 20px;
  left: 120px;
  top: 5px;
  transition: all .3s ease-in;
  width: 20px;
  z-index: -1;
  cursor: pointer;
}
.sample.eight button.btn-reset svg{
  width:10px;
}
.sample.eight button.btn-search img{
  width:15px
}

@keyframes bounceRight {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes jumpTowardSearch {
  0% {
    background: #ccc;
    opacity: 1;
    transform: rotateZ(0deg) scale(1);
  }
  20% {
    background: #ccc;
    opacity: 0;
    transform: rotateZ(-60deg) scale(50);
  }
  55% {
    background: hotpink;
    opacity: 0;
    transform: rotateZ(-30deg) scale(100);
  }
  90% {
    background: hotpink;
    opacity: 0;
    transform: rotateZ(-30deg) scale(50);
  }
  100% {
    background: hotpink;
    opacity: 1;
    transform: rotateZ(0deg) scale(1);
  }
}
@keyframes jumpTowardReset {
  0% {
    opacity: 0;
    transform: rotateZ(0deg) scale(1);
  }
  20% {
    opacity: 0;
    transform: rotateZ(-60deg) scale(50);
  }
  55% {
    opacity: 0;
    transform: rotateZ(-30deg) scale(100);
  }
  90% {
    opacity: 0;
    transform: rotateZ(-30deg) scale(50);
  }
  100% {
    opacity: 1;
    transform: rotateZ(0deg) scale(1);
  }
}

/***content**/
.app-wrapper .app-content {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}
.user-box1{
  display: inline-flex;
  width: 100% ;
  padding: 10px;
  display: none;
}

@media only screen and (max-width: 768px) {
  .app-wrapper {
    height: auto !important;
  }
.app-sidebar{
  width: 100% !important;
  position: inherit !important;
  height: auto !important;
}
.app-main-outer{
  width: 100% !important;
  display: flow-root !important;
  padding-left: 0px !important;
}
.app-header{
  display: block !important;
}
.search-panel{
  width: 100% !important;
}
.user-panel{
  width: 100% !important;
}
/* ///////// */
.eight{
  width: 80% !important;
  padding-top: 10px;
}
.serchinput{
  width: 100% !important;
}
.btn-search{
  left: 100% !important;
}
.notification-box{
  display: none !important;
}
.user-box{
  display: none !important;
}
.user-box1{
  display: inline-flex;
}
.billbtn{
  font-size: 14px !important;
}

}