

/*********preloader****/

.loader-wrapper {
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 100vh;
    z-index: 99999999999;
    bottom: 0;
    margin: auto;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column;*/
  }
  .loader-wrapper .loader {
    display: inline-block;
    position: relative;
    /* left: 47%; */
    top: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid transparent;
    border-top-color: var(--main-color);
    border-radius: 50%;
    z-index: 1001;
    -webkit-animation: spin 1.5s infinite linear;
    animation: spin 1.5s infinite linear;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .loader-wrapper .loader:before, .loader-wrapper .loader:after {
    content: '';
    position: absolute;
    border-radius: 50%;
  }
  .loader-wrapper .loader:before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color:var(--secondary-color);
    -webkit-animation: spin 2s infinite linear;
            animation: spin 2s infinite linear;
  }
  .loader-wrapper .loader:after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: var(--main-color);
    -webkit-animation: spin 1s infinite linear;
            animation: spin 1s infinite linear;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  /*Section */
  .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #fff9f9;
    z-index: 1000;
  }
  .loader-section.section-left {
    left: 0;
  }
  .loader-section.section-right {
    right: 0;
  }
  
  /*Finished Loading Styles*/
  .loaded .section-left {
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .loaded .section-right {
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .loaded .loader {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 0;
  }
  .loaded .loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
  }