.modal-content {
    padding:30px;
    border-radius: 25px;
}
.modal-content .modal-inner-heading{
    text-align:center;
}
.modal-content .modal-inner-heading h4 {
    font-size:20px;
    color:var(--black-color);
    font-family: var(--font-family-bold);
    margin-bottom: 30px;
}
.modal-content .modal-inner-heading p {
    font-size: 16px;
    color: #8E8EA1;
    font-family: var(--font-family-bold);

}

.modal-content .bill-items .add-bill-item {
    border:1px solid #E3E5F4;
    display:flex;
    align-items:center;
    box-shadow: 5px 10px 15px #cccccc73;
    padding-left: 40px;
    border-radius:15px;
    margin-bottom:25px;
    padding-top:20px;
    padding-bottom:20px
}

.modal-content .bill-items .add-bill-item span {
    margin-right: 25px;
}
.add-bill-item .bill-item-content {
    border-left:1px solid #E3E5F4;
    padding-left:20px
}
.add-bill-item .bill-item-content h3{
    font-size:18px;
    color:var(--black-color)
}
.add-bill-item .bill-item-content p{
    color: #8E8EA1;
    font-size:16px;
}
.modal-content .modal-footer{
    border:0 !important;
    background-color: transparent;
    justify-content: center;
}
.modal-content .modal-footer .btn-secondary{
    border:0 !important;
    box-shadow: 0 0 0 !important;
    background-color:transparent !important;
    font-size:18px;
    font-family: var(--font-family-bold);
    color: #8E8EA1;
}
.modal-content .modal-footer .btn-secondary:hover,
.modal-content .modal-footer .btn-secondary:focus,
.modal-content .modal-footer .btn-secondary:visited{
    color:var(--main-color)
}