/******fONTS*********/
/**Regular **/
@font-face {
    font-family: 'Almarai-Regular';
    src:url('../fonts/regular/Almarai-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/**Bold**/
@font-face {
    font-family: 'Almarai-Bold';
    src:url('../fonts/bold/Almarai-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}
:root {
    --main-color:#482275;
    --secondary-color:#00D28F;
    --blue-color:#64C6F4;
    --white-color:#ffffff;
    --black-color:#000000;
    --red-color:#FF0000;
    --dark-gery-color:#8E8EA1;
    --danger-color:#f13232;
    --orange-color: #f69545;
    --font-family-bold: 'Almarai-Bold';
    --font-family-regular: 'Almarai-Regular';
}
.page-heading h1{
    font-size:35px;
    color: var(--black-color);
    margin-bottom:0;
    font-family: var(--font-family-bold);
}
