body{
    background-color: var(--main-color) !important;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.login-wrapper{
    background-color: var(--main-color);
    padding:25px 50px;
    display: flex;
    border-radius: 25px;
    min-height:98vh;
    overflow:hidden;
}
.login-wrapper .login_left{
    width: 60%;
    position: relative;
    height: 100%;
    background-color: #6A39A6;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-image: url(../img/slider-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}
.login-wrapper .login_right{
    width:40%;
    position: relative;
    padding:75px 50px 40px 50px;
    min-height: 100%;
    background-color: var(--white-color);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.login_right .login-logo img{
    width:180px;
    max-width: 180px;
    margin-bottom: 30px;
}
.login-wrapper .login_right .login-title{
  margin-bottom: 40px;
}
.login-wrapper .login_right h1{
    color: var(--black-color);
    font-size:35px;
    font-family: var(--font-family-bold);
}
.login-wrapper .login_right h3{
  color: #8E8EA1;
  font-size:18px;
  font-family: var(--font-family-bold);

}
.login_form .form-group , .inputMaterial .form-group{
    position: relative;
    margin-bottom: 60px;
  }

  .login_form .inputMaterial , .bill-details .inputMaterial{
    font-size: 16px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #9999AA;
    color: #C0C0CA;
    font-family: var(--font-family-bold);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .login_form .inputMaterial:focus , .bill-details .inputMaterial:focus{
    outline: none;
  }

  /* LABEL ======================================= */
  .login_form .form-group label , .bill-details .form-group label  {
    font-family: var(--font-family-bold);
    color: #8E8EA1;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  /* active state */
  /* .inputMaterial:focus ~ label, .inputMaterial:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #009688;
  } */
  .login_form .inputMaterial:focus~label,
  .login_form .inputMaterial:not(:placeholder-shown)~label
  ,
  .bill-details .inputMaterial:focus~label,
  .bill-details .inputMaterial:not(:placeholder-shown)~label
  {
    top: -20px;
    font-size: 14px;
    color: #009688;
  }
  .login_form button{
      width: 100%;
  }

  .login_form .btn{
    font-size: 16px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    line-height: 0;
    font-family: var(--font-family-bold);
  }
  .login_form .btn:not(:last-child){
    margin-bottom:25px
  }
 .login_form .login-buttons{
   position:absolute;
   bottom: 50px;
   padding-right: 50px;
   padding-left: 50px;
   width:100%;
    left:0;
    margin-bottom: 15px;
 }
  .login_form .btn-submit{
    background-color: var(--secondary-color);
    color: var(--white-color) !important;
}
/* .login_form .btn-submit:hover,
.login_form .btn-submit:focus,
.login_form .btn-submit:visited{
  border:1px solid var(--secondary-color);
  color: var(--secondary-color) !important;
  background-color: transparent
} */
.login_form .btn-outline-primary{
  border:1px solid var(--secondary-color);
  color: var(--secondary-color) !important;
}
.login_form .btn-outline-primary:hover{
  background-color: var(--secondary-color) !important;
  color: var(--white-color) !important;
}

.login_form .login-buttons .btn-next{
    background-color: #64C6F4;
    color: var(--white-color);
}
.login_form .btn-next:hover,
.login_form .btn-next:focus,
.login_form .btn-next:visited{
  border: 1px solid #64C6F4;
  color:#64C6F4;
  background-color: var(--white-color);
}
.login_form .btn-outline-purble:hover,
.login_form .btn-outline-purble:focus,
.login_form .btn-outline-purble:visited{
    background-color: var(--main-color);
    color: var(--white-color);
  }

.login_form .login-buttons .btn-outline-purble{
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);;
}









  /* BOTTOM BARS ================================= */
  .bar {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 1px;
  }

  .bar:before, .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--secondary-color);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .bar:before {
    left: 50%;
  }

  .bar:after {
    right: 50%;
  }

  /* active state */
  .inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
    width: 50%;
  }

  /* active state */
  .inputMaterial:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }

  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
    from {
      background: #5264AE;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @-moz-keyframes inputHighlighter {
    from {
      background: #5264AE;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @keyframes inputHighlighter {
    from {
      background: #5264AE;
    }
    to {
      width: 0;
      background: transparent;
    }
  }





  @keyframes bounce-nds {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes bounce-out-nds {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0);
    }
  }

  .rememberMe {
      display:flex;
      align-items: center;
      justify-content: space-between;

  }
  .rememberMe a{
    color: #8E8EA1;
    text-decoration:none !important;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    font-family: var(--font-family-bold);
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="mobileHidden"] {
      display: none;
    }
    .login_right {
      padding: 20px 15px 40px 15px !important;
      border-bottom-left-radius: 25px;
      border-top-left-radius: 25px;
    }
    .login-logo, .login-title{
      text-align: center;
    }
    .login-buttons{
      margin-top: 50px;
      bottom: 0 !important;
      padding: 0px 5px !important;
      position: inherit !important;
    }
    .signupbtn{
      font-size: 14px !important;
    }
    .custom-checkbox .form-check-inline label{
      font-size: 12px !important;
      margin-top: 5px;
    }
    .rememberMe a{
      font-size: 12px !important;
    }
    .login-wrapper{
      padding: 25px 20px !important;
      overflow: scroll;
    }


    .mobileview{
      height: auto !important;
    }
  }

  /* .login-wrapper .login_left{
    width: 60%;
    position: relative;
    height: 100%;
    background-color: #6A39A6;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-image: url(../img/slider-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
} */