

    @media (min-width: 992px) {
      .slider, .slide {
        min-height: 100vh;
      }
    }

    .slide {
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center
    }
    .slide .slide__img {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    @media (min-width: 992px) {
      .slide .slide__img {
        position: absolute;
        top: 0;
        left: 0;
        /* transform: translateY(-50%); */
        height:100%;
        min-height: 100%;
      }
    }
    .slide .slide__img img {
      max-width: 100%;
      height: 100%;
      opacity: 1 !important;
      -webkit-animation-duration: 3s;
      animation-duration: 3s;
      transition: all 1s ease;
    }
    .slide .slide__content {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .slide .slide__content.slide__content__left {
      left: 15%;
      transform: translate(-15%, -50%);
    }
    .slide .slide__content.slide__content__right {
      right: 15%;
      left: auto;
      transform: translate(5%, -50%);
    }
    .slide .slide__content--headings {
      color: #FFF;
    }
    .slide .slide__content--headings img {
      background-image:url(../img/slide-afterImg.svg);
      background-repeat: no-repeat;
      background-size: 200px;
      background-position: bottom 0 left 5px;
    }
    .slide .slide__content--headings .animated {
      transition: all 0.5s ease;
    }
    .slide .slide__content--headings .top-title {
      font-family: "Playball", cursive;
      font-size: 2.5rem;
    }
    .slide .slide__content--headings .title {
      font-size: 50px;
      font-family: var(--font-family-regular);
      margin-top: 25px;
    }


    .slider [data-animation-in] {
      opacity: 0;
      -webkit-animation-duration: 1.5s;
              animation-duration: 1.5s;
      transition: opacity 0.5s ease 0.3s;
    }

    .slick-dotted .slick-slider {
      margin-bottom: 30px;
    }
    .slick-slide img {
      width:250px;
    }
    .slick-dots {
      position: absolute;
      bottom: 225px !important;
      list-style: none;
      display: block;
      text-align: center;
      padding: 0;
      margin: 0;
      width: 100%;
    }
    .slick-dots li {
      position: relative;
      display: inline-block;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
    }
    .slick-dots li button {
      border: 0;
      display: block;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 3px !important;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .slick-dots li button:hover, .slick-dots li button:focus {
      outline: none;
    }

    .simple-dots .slick-dots li {
      width: 20px;
      height: 20px;
    }
    .simple-dots .slick-dots li button {
      border-radius: 50%;
      background-color: white;
      opacity: 0.25;
      width: 20px;
      height: 20px;
    }
    .simple-dots .slick-dots li button:hover, .simple-dots .slick-dots li button:focus {
      opacity: 1;
    }
    .simple-dots .slick-dots li.slick-active button {
      color: white;
      opacity: 0.75;
    }

    .stick-dots .slick-dots li {
      height: 5px;
      width: 30px;
    }
    .stick-dots .slick-dots li button {
      position: relative;
      background-color: white;
      opacity: 0.25;
      height: 5px;
      width: 30px;
      padding: 0;
      border-radius: 5px;
    }
    .stick-dots .slick-dots li button:hover, .stick-dots .slick-dots li button:focus {
      opacity: 1;
    }
    .stick-dots .slick-dots li.slick-active button {
      color: white;
      opacity: 0.75;
    }
    .stick-dots .slick-dots li.slick-active button:hover, .stick-dots .slick-dots li.slick-active button:focus {
      opacity: 1;
    }

    /* /////////// IMAGE ZOOM /////////// */
    @-webkit-keyframes zoomInImage {
      from {
        transform: scale3d(1, 1, 1);
      }
      to {
        transform: scale3d(1.1, 1.1, 1.1);
      }
    }
    @keyframes zoomInImage {
      from {
        transform: scale3d(1, 1, 1);
      }
      to {
        transform: scale3d(1.1, 1.1, 1.1);
      }
    }
    .zoomInImage {
      -webkit-animation-name: zoomInImage;
              animation-name: zoomInImage;
    }

    @-webkit-keyframes zoomOutImage {
      from {
        transform: scale3d(1.1, 1.1, 1.1);
      }
      to {
        transform: scale3d(1, 1, 1);
      }
    }

    @keyframes zoomOutImage {
      from {
        transform: scale3d(1.1, 1.1, 1.1);
      }
      to {
        transform: scale3d(1, 1, 1);
      }
    }
    .zoomOutImage {
      -webkit-animation-name: zoomOutImage;
              animation-name: zoomOutImage;
    }

    .slick-nav {
      --active: #fff;
      --border: rgba(255, 255, 255, .12);
      width: 44px;
      height: 44px;
      position: absolute;
      cursor: pointer;
      top: calc(50% - 44px);
    }
    .slick-nav.prev-arrow {
      left: 3%;
      transform: scaleX(-1);
      z-index: 999;
    }
    .slick-nav.next-arrow {
      left: auto;
      right: 3%;
    }
    .slick-nav i {
      display: block;
      position: absolute;
      margin: -10px 0 0 -10px;
      width: 20px;
      height: 20px;
      left: 50%;
      top: 50%;
    }
    .slick-nav i:before, .slick-nav i:after {
      content: "";
      width: 10px;
      height: 2px;
      border-radius: 1px;
      position: absolute;
      left: 50%;
      top: 50%;
      background: var(--active);
      margin: -1px 0 0 -5px;
      display: block;
      transform-origin: 9px 50%;
    }
    .slick-nav i:before {
      transform: rotate(-40deg);
    }
    .slick-nav i:after {
      transform: rotate(40deg);
    }
    .slick-nav:before, .slick-nav:after {
      content: "";
      display: block;
      position: absolute;
      left: 1px;
      right: 1px;
      top: 1px;
      bottom: 1px;
      border-radius: 50%;
      border: 2px solid var(--border);
    }
    .slick-nav svg {
      width: 44px;
      height: 44px;
      display: block;
      position: relative;
      z-index: 1;
      color: var(--active);
      stroke-width: 2px;
      stroke-dashoffset: 126;
      stroke-dasharray: 126 126 0;
      transform: rotate(0deg);
    }
    .slick-nav.animate svg {
      -webkit-animation: stroke 1s ease forwards 0.3s;
              animation: stroke 1s ease forwards 0.3s;
    }
    .slick-nav.animate i {
      -webkit-animation: arrow 1.6s ease forwards;
              animation: arrow 1.6s ease forwards;
    }
    .slick-nav.animate i:before {
      -webkit-animation: arrowUp 1.6s ease forwards;
              animation: arrowUp 1.6s ease forwards;
    }
    .slick-nav.animate i:after {
      -webkit-animation: arrowDown 1.6s ease forwards;
              animation: arrowDown 1.6s ease forwards;
    }

    @-webkit-keyframes stroke {
      52% {
        transform: rotate(-180deg);
        stroke-dashoffset: 0;
      }
      52.1% {
        transform: rotate(-360deg);
        stroke-dashoffset: 0;
      }
      100% {
        transform: rotate(-180deg);
        stroke-dashoffset: 126;
      }
    }

    @keyframes stroke {
      52% {
        transform: rotate(-180deg);
        stroke-dashoffset: 0;
      }
      52.1% {
        transform: rotate(-360deg);
        stroke-dashoffset: 0;
      }
      100% {
        transform: rotate(-180deg);
        stroke-dashoffset: 126;
      }
    }
    @-webkit-keyframes arrow {
      0%, 100% {
        transform: translateX(0);
        opacity: 1;
      }
      23% {
        transform: translateX(17px);
        opacity: 1;
      }
      24%, 80% {
        transform: translateX(-22px);
        opacity: 0;
      }
      81% {
        opacity: 1;
        transform: translateX(-22px);
      }
    }
    @keyframes arrow {
      0%, 100% {
        transform: translateX(0);
        opacity: 1;
      }
      23% {
        transform: translateX(17px);
        opacity: 1;
      }
      24%, 80% {
        transform: translateX(-22px);
        opacity: 0;
      }
      81% {
        opacity: 1;
        transform: translateX(-22px);
      }
    }
    @-webkit-keyframes arrowUp {
      0%, 100% {
        transform: rotate(-40deg) scaleX(1);
      }
      20%, 80% {
        transform: rotate(0deg) scaleX(0.1);
      }
    }
    @keyframes arrowUp {
      0%, 100% {
        transform: rotate(-40deg) scaleX(1);
      }
      20%, 80% {
        transform: rotate(0deg) scaleX(0.1);
      }
    }
    @-webkit-keyframes arrowDown {
      0%, 100% {
        transform: rotate(40deg) scaleX(1);
      }
      20%, 80% {
        transform: rotate(0deg) scaleX(0.1);
      }
    }
    @keyframes arrowDown {
      0%, 100% {
        transform: rotate(40deg) scaleX(1);
      }
      20%, 80% {
        transform: rotate(0deg) scaleX(0.1);
      }
    }
