
 *, *::before, *::after {
     box-sizing: border-box;
}

 html, body {
     height: 100%;
}
 body {
     margin: 0;
     overflow-x: hidden;
     font-family: var(--font-family-regular);
     background-color: #F9F7FE;
}

.payment-card{
    border-radius: 25px;
    border: 1px solid #D1D0D8;
    background-color: var(--white-color);
    padding:30px 30px 0 30px;
}
.payment-card .btn-submit {
    width: 100%;
    background-color:var(--secondary-color);
    color:var(--white-color);
    display: flex;
    align-items: center;
    justify-content:center;
    text-transform: capitalize;
    font-size: 16px;
    font-family:var(--font-family-bold);
    padding:0;
    height:50px;
    border-radius: 15px;
    border-bottom: 1px solid #D1D0D8;
    margin-bottom:35px
}
.payment-card .payment-item {
    margin-bottom:20px;
}
.payment-card .payment-item p{
    color: var(--dark-gery-color);
    font-size:13px;
    font-family: var(--font-family-bold);
    margin-bottom: 10px;
}
.payment-card .payment-item h5{
    color: var(--black-color);
    font-size: 13px;
    font-family: var(--font-family-bold);
    letter-spacing: 0.5px;
}

.payment-card h3{
 font-size:18px;
 color: var(--black-color);
 font-family: var(--font-family-bold);
 margin-bottom:0;
}
.payment-card .dropdown-toggle{
    background-color: #E3E5F4;
    font-size: 13px;
    font-family: var(--font-family-bold);
    color: var(--black-color);
}
.payment-card .dropdown-toggle::after{
    border: 0 !important;
}
.payment-card .dropdown-toggle{
        background-image: url("../img/arrow.svg");
        background-position: right 10px center;
        background-repeat: no-repeat;
        padding:10px 25px
}
.payment-card .payment-footer{
    background-color: #F9F7FE;
    margin-left: -30px;
    margin-right: -30px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;

}
.payment-card .payment-footer h6{
    font-size: 18px;
    color: var(--black-color);
    font-family: var(--font-family-bold);
    margin-bottom:0;
    padding-top: 25px;
    padding-bottom: 25px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

/*****/

.bill-details .form-group{
    position: relative;
    margin-bottom: 60px;
  }
  .bill-details {
    margin-top: 50px;
  }
  .bill-details h4{
      margin-bottom:50px !important
  }
.bill-details .inputMaterial{
    font-size: 16px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #9999AA;
    color: #C0C0CA;
    font-family: var(--font-family-bold);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
.bill-details .inputMaterial:focus{
    outline: none;
  }
  
  /* LABEL ======================================= */
 .bill-details .form-group label  {
    font-family: var(--font-family-bold);
    color: #8E8EA1;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  

  .bill-details .inputMaterial:focus~label,
  .bill-details .inputMaterial:not(:placeholder-shown)~label
  {
    top: -20px;
    font-size: 14px;
    color: #009688;
  }

  .bill-details .btn{
      width: 100%;
      height:50px;
      font-family: var(--font-family-bold);
      font-size: 17px;
  }
  .bill-details .btn:not(:last-child){
      margin-bottom: 20px;
  }
   .bill-details .btn-submit{
    background-color: var(--secondary-color);
    color: var(--white-color);
  
}
 .bill-details .btn-submit:hover,
 .bill-details .btn-submit:focus,
 .bill-details .btn-submit:visited{
  border:1px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: transparent
}
 .bill-details .btn-outline-primary{
  border:1px solid var(--secondary-color);
  color: var(--secondary-color);
}
 .bill-details .btn-outline-primary:hover,
 .bill-details .btn-outline-primary:focus,
 .bill-details .btn-outline-primary:visited{
  background-color: var(--secondary-color);
  color: var(--white-color);
}

@-webkit-keyframes ring {
    0% {
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }
  
    2% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }
  
    4% {
      -webkit-transform: rotate(-18deg);
      transform: rotate(-18deg);
    }
  
    6% {
      -webkit-transform: rotate(18deg);
      transform: rotate(18deg);
    }
  
    8% {
      -webkit-transform: rotate(-22deg);
      transform: rotate(-22deg);
    }
  
    10% {
      -webkit-transform: rotate(22deg);
      transform: rotate(22deg);
    }
  
    12% {
      -webkit-transform: rotate(-18deg);
      transform: rotate(-18deg);
    }
  
    14% {
      -webkit-transform: rotate(18deg);
      transform: rotate(18deg);
    }
  
    16% {
      -webkit-transform: rotate(-12deg);
      transform: rotate(-12deg);
    }
  
    18% {
      -webkit-transform: rotate(12deg);
      transform: rotate(12deg);
    }
  
    20% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  
  @keyframes ring {
    0% {
      -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }
  
    2% {
      -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      transform: rotate(15deg);
    }
  
    4% {
      -webkit-transform: rotate(-18deg);
      -ms-transform: rotate(-18deg);
      transform: rotate(-18deg);
    }
  
    6% {
      -webkit-transform: rotate(18deg);
      -ms-transform: rotate(18deg);
      transform: rotate(18deg);
    }
  
    8% {
      -webkit-transform: rotate(-22deg);
      -ms-transform: rotate(-22deg);
      transform: rotate(-22deg);
    }
  
    10% {
      -webkit-transform: rotate(22deg);
      -ms-transform: rotate(22deg);
      transform: rotate(22deg);
    }
  
    12% {
      -webkit-transform: rotate(-18deg);
      -ms-transform: rotate(-18deg);
      transform: rotate(-18deg);
    }
  
    14% {
      -webkit-transform: rotate(18deg);
      -ms-transform: rotate(18deg);
      transform: rotate(18deg);
    }
  
    16% {
      -webkit-transform: rotate(-12deg);
      -ms-transform: rotate(-12deg);
      transform: rotate(-12deg);
    }
  
    18% {
      -webkit-transform: rotate(12deg);
      -ms-transform: rotate(12deg);
      transform: rotate(12deg);
    }
  
    20% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  
  .faa-ring.animated,
  .faa-ring.animated-hover:hover,
  .faa-parent.animated-hover:hover > .faa-ring {
    -webkit-animation: ring 2s ease infinite;
    animation: ring 2s ease infinite;
    transform-origin-x: 50%;
    transform-origin-y: 0px;
    transform-origin-z: initial;
  }
  
  .steps-icons{
      position: absolute;
      bottom: 15px;
      right:0;
      left: 0;
      margin: auto;
  
  }
  .steps-icons ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:center
  }
   
  .steps-icons ul li{
    width:25px;
    height:6px;
    margin-right: 5px;
    background-color: #784bae99;
    border-radius: 5px;
  }
  .steps-icons ul li.active , .steps-icons ul li:hover{
    background-color: var(--main-color);
  }
  .steps-icons ul li a{
    width:100%;
    height:100%;
    display: block;
    cursor: pointer;
  }
  .play-video-first-fadeout {
    /* display: none; */
    width: 90px;
    right: 0;
    left: 0;
    margin: auto;
    height: 90px;
    position: absolute;
    background-color: #00d28f;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    /* opacity: .3; */
    -webkit-animation: play-video-first-fadeout 2.3s infinite ease-in-out;
    -moz-animation: play-video-first-fadeout 2.3s infinite ease-in-out;
    -ms-animation: play-video-first-fadeout 2.3s infinite ease-in-out;
    -o-animation: play-video-first-fadeout 2.3s infinite ease-in-out;
    animation: play-video-first-fadeout 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
@-moz-keyframes play-video-first-fadeout {
    0%{
        -moz-transform:rotate(0) scale(.8) skew(1deg);
        opacity:.8
    }
    50%{
        -moz-transform:rotate(0) -moz-scale(1) skew(1deg);
        opacity:.9
    }
    100%{
        -moz-transform:rotate(0) scale(.8) skew(1deg);
        opacity:.9
    }
}
@-webkit-keyframes play-video-first-fadeout {
    0%{
        -webkit-transform:rotate(0) scale(.8) skew(1deg);
        opacity:.8
    }
    50%{
        -webkit-transform:rotate(0) scale(1) skew(1deg);
        opacity:.9
    }
    100%{
        -webkit-transform:rotate(0) scale(.8) skew(1deg);
        opacity:.9
    }
}