
.app-content  .nav-pills  .nav-item:not(:last-child){
    margin-right:40px;
}

.app-content  .nav-pills  .nav-link{
    color: #C0C0CA;
    border-radius: 0 !important;
    font-size:15px;
    padding-left: 0;
    padding-right: 0;
    font-family: var(--font-family-bold);
}

.app-content .nav-pills .nav-link.active,
.app-content  .nav-pills .show>.nav-link{
    color: #6A39A6;
    border-bottom: 4px solid #6A39A6;
    background-color: transparent !important;
}
.app-content .tab-header{
    margin-bottom:40px;
}
.app-content .tab-header h4{
    font-size:16px;
    color: var(--black-color);
    margin-bottom:0;
    font-family: var(--font-family-bold);
    position: relative;
}
.tab-content{
    margin-top: 50px;
}
.tab-content .tab-card-item{
    background-color: var(--white-color);
    border-radius: 15px;
    padding: 30px 25px 30px 30px;
    margin-bottom: 35px;
    height:125px;
}
.tab-content .tab-card-item.active , 
.tab-content .tab-card-item:hover{
    cursor: pointer;
    border: 1px solid var(--secondary-color);
    /* -webkit-transition:  0.2s ease-in;
    -moz-transition:  0.2s ease-in;
    -o-transition:  0.2s ease-in;
    transition:  0.2s ease-in; */
}
.tab-content .tab-card-item .media img , .payment-card .media img{
    width: 30px;
    max-width: 30px;
    height: 30px;
    max-height: 30px;
    border-radius: 50%;

}
.tab-content .tab-card-item .media-body ,  .payment-card .media-body{
    padding-left:30px;
}
.tab-content .tab-card-item .media-body h5 , .payment-card .media-body h5{
    font-size: 15px;
    color:var(--black-color);
    font-family: var(--font-family-bold);
}
.tab-content .tab-card-item .media-body p ,  .payment-card .media-body p{
    font-size: 15px;
    color:var(--dark-gery-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-family-regular);
}
.tab-content .tab-card-item .media-body p span ,  .payment-card .media-body p span{
    font-size: 14px;
    color:var(--black-color);
    font-family: var(--font-family-bold);
}
.payment-card .media{
    margin-bottom: 25px;
}
/*******************/
.tab-card-item.btn-add {
    padding:0 !important;
    background-color:transparent !important;
    border: 1px solid #C0C0CA;
    display:flex;
    align-items:center;
    justify-content:center;
}
.tab-card-item.btn-add button{
    width:100%;
    height:100%;
    border: 0 !important;
    box-shadow: 0 0 0 !important;
    background-color: transparent !important;
    font-size: 16px;
    font-family: var(--font-family-bold);
    color:#C0C0CA;
}
.tab-card-item.btn-add button span{
    margin-right: 10px;
}
.tab-card-item.btn-add button span img{
    width:13px
}