<div class="payment-card">
   <div class="media">
      <img class="" src="../assets/img/test.svg" alt="test-img">
      <div class="media-body">
         <h5 class="mt-0">{{selectedcard?.vendorName}}</h5>
         <p class="mb-0">
            {{selectedcard?.date | date:'EEE MMM dd, yyyy'}}

         </p>
      </div>
   </div>
   <button class="btn btn-submit" data-toggle="modal">
      Schedule Payment
   </button>
   <div class="d-flex align-items-center justify-content-between">
      <h3>Bill details</h3>
      <div class="dropdown show">
         <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{selectedcard?.billStatus}}
         </a>

<!--         <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
<!--            <a class="dropdown-item" >{{selectedcard?.billStatus}}</a>-->
<!--         </div>-->
      </div>
   </div>
   <div class="payment-item">
      <p class="">
         Vendor name
      </p>
      <h5>
         {{selectedcard?.vendorName}}
      </h5>
   </div>
   <div class="payment-item">
      <p class="">
         Account no.
      </p>
      <h5>
         {{selectedcard?.accountNo}}
      </h5>
   </div>
   <div class="payment-item">
      <p class="">
         Total amount
      </p>
      <h5>
         $ {{selectedcard?.total}}
      </h5>
   </div>
   <div class="payment-item">
      <p class="">
         Due date
      </p>
      <h5>
         {{selectedcard?.date | date:'EEE MMM dd, yyyy'}}
      </h5>
   </div>
   <div class="payment-item">
      <p class="">
         Bill no.
      </p>
      <h5>
         {{selectedcard?.billNo}}
      </h5>
   </div>
   <!-- <div class="payment-item">
      <p class="">
         Note to self
      </p>
      <h5>
         Office expenses
      </h5>
   </div> -->
   <div class="payment-footer">
      <h6>
         Open balance
         <span>
            $ {{selectedcard?.openBlance}}
         </span>
      </h6>
   </div>
</div>