






<!--Modal add bill-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

         <div class="modal-body">
            <div class="modal-inner-heading">
               <h4> Add a bill to pay
               </h4>
               <p>
                  Add a bill or invoice however you like and schedule
                  a payment.
               </p>
            </div>
            <div class="bill-items">
               <div class="add-bill-item">
                  <span class="">
                     <img src="../assets/img/document-icon.svg" alt="document-icon">
                  </span>
                  <div class="bill-item-content">
                     <h3>Add a bill manually</h3>
                     <p class="mb-0">Easy with just a few clicks</p>
                  </div>
               </div>
               <div class="add-bill-item">
                  <span class="">
                     <img src="../assets/img/upload-icon.svg" alt="upload-icon">
                  </span>
                  <div class="bill-item-content">
                     <h3>Upload a bill file</h3>
                     <p class="mb-0">Super quickly from your device</p>
                  </div>
               </div>
               <div class="add-bill-item">
                  <span class="">
                     <img src="../assets/img/quickbook-icon.svg" alt="quickbook-icon">
                  </span>
                  <div class="bill-item-content">
                     <h3>Sync with a quickBook</h3>
                     <p class="mb-0">Automatically sync all your bills</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
         </div>
      </div>
   </div>
</div>
<!--Modal add bill-->
