<div >
   <div class="tab-header">
      <h4 class="mb-0">
         Latest
      </h4>
   </div>
   <div class="">
      <div class="row">
         <nz-skeleton *ngIf="isLoading" class="col-md-6 col-12" [nzLoading]="isLoading"></nz-skeleton>

         <div class="col-md-6 col-12" *ngFor="let item of billsData">
            <div class="tab-card-item active" (click)="selectCard(item)">
               <div class="media">
                  <!-- <img class="" src="../assets/img/test.svg" alt="test-img"> -->
                  <svg id="Group_14597" data-name="Group 14597" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31">
                     <circle id="Ellipse_23" data-name="Ellipse 23" cx="15.5" cy="15.5" r="15.5" fill="#6a39a6"/>
                     <text id="SA" transform="translate(7 21)" fill="#fff" font-size="14" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0">{{item.vendorName.substr(0,2).toUpperCase()}}</tspan></text>
                   </svg>                   
                  <div class="media-body">
                     <h5 class="mt-0">{{item.vendorName}}</h5>
                     <p class="mb-0">
                        {{item.date | date:'EEE MMM dd, yyyy'}}
                        <span>
                           $ {{item.total }}
                        </span>
                     </p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-md-6 col-12">
            <div class="tab-card-item btn-add">
               
               <!-- exampleModalCenter -->
               <button type="button" class="p-0" data-toggle="modal" data-target="#exampleModalDetails">
                  <span>
                     <img src="../assets/img/add-icon.svg" alt="add-icon">
                  </span>
                  Add a bill to pay
               </button>
            </div>
         </div>
      </div>
   </div>
</div>