<!--Loader-->
<div class="loader-wrapper" *ngIf="false">
  <div class="loader"></div>

  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<!--Loader-->
<!--login wrapper-->
<div class="login-wrapper">
  <div class="login_left mobileHidden">
    <nz-carousel nzAutoPlay nzDotPosition="left">
      <div nz-carousel-content>
        <div class="slide">
          <div class="slide__img">
          </div>
          <div class="slide__content">
            <div class="slide__content--headings text-center">
              <img src="../assets/img/slider-1.svg" alt="slider" class="animated top-title"
                data-animation-in="zoomInImage" data-delay-in="0.1">

              <h2 class="animated title" data-animation-in="fadeIn" data-delay-in="0.3">
                Secured<br />
                Operation
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div nz-carousel-content>
        <div class="slide">
          <div class="slide__img">
          </div>
          <div class="slide__content">
            <div class="slide__content--headings text-center">
              <img src="../assets/img/slider-2.svg" alt="slider" class="animated top-title"
                data-animation-in="zoomInImage" data-delay-in="0.1">
              <h2 class="animated title" data-animation-in="zoomInImage" data-delay-in="0.3">
                Saving<br />
                Online
              </h2>
            </div>
          </div>
        </div>
      </div>

      <div nz-carousel-content>
        <div class="slide">
          <div class="slide__img">
          </div>
          <div class="slide__content">
            <div class="slide__content--headings text-center">
              <img src="../assets/img/slider-3.svg" alt="slider" data-animation-in="fadeInBottom" data-delay-in="0.1">

              <h2 class="animated title" data-animation-in="fadeInBottom" data-delay-in="0.3">
                Safely transfer <br />
                your money
              </h2>
            </div>
          </div>
        </div>
      </div>

    </nz-carousel>




  </div>
  <div class="login_right col-12 col-sm-12 col-md-5">
    <div class="login_form">
      <div class="login-logo">
        <img src="../assets/img/main-logo.svg" alt="logo">
      </div>



      <form  [formGroup]="formSignupData" class="">

        <nz-carousel class="mobileview" #SingupCarousel [nzDots]	="'false'" [nzEnableSwipe]="'false'" [nzEffect]="'fade'" (nzBeforeChange)="changeSteps($event)">
          <div nz-carousel-content>

            <div class="">
              <div class="login-title ">
                <h1>Sign up</h1>
                <h3 class="mb-3 mt-3">Company information</h3>
              </div>

              <div class="form-group">
                <input class="inputMaterial" formControlName="companyNameAr" type="text" placeholder=" ">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Company name (Arabic)</label>
                <validation-error [errorClass]="'text-danger'" [control]="formSignupData.get('companyNameAr')"></validation-error>
              </div>



              <div class="form-group custom-group">
                <input class="inputMaterial" type="text" formControlName="companyNameEn" placeholder=" ">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Company name (English)</label>
                <validation-error [errorClass]="'text-danger'" [control]="formSignupData.get('companyNameEn')"></validation-error>
              </div>

            </div>
          </div>
          <div nz-carousel-content [hidden]="!(formSignupData.get('companyNameAr').valid && formSignupData.get('companyNameEn').valid)">
            <div class="">
                <div class="login-title ">
                  <h1>Sign up</h1>
                  <h3 class="mb-3 mt-3">Personal information</h3>
                </div>
                <div class="container-fluid p-0">
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <input class="inputMaterial" type="text" placeholder=" " formControlName="name">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Name</label>
                        <validation-error [errorClass]="'text-danger'" [control]="formSignupData.get('name')"></validation-error>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <input class="inputMaterial" type="text" placeholder=" " formControlName="role">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Role</label>
                        <validation-error [errorClass]="'text-danger'" [control]="formSignupData.get('role')"></validation-error>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <input class="inputMaterial" type="email" formControlName="email" placeholder=" ">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>E-mail</label>
                        <validation-error [errorClass]="'text-danger'" [control]="formSignupData.get('email')"></validation-error>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <input class="inputMaterial" type="number" formControlName="mobile" placeholder=" ">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Mobile</label>
                        <validation-error [errorClass]="'text-danger'" [control]="formSignupData.get('mobile')"></validation-error>
                      </div>
                    </div>

                    <div class="col-12 col-md-12">
                      <div class="form-group">
                        <input class="inputMaterial" type="password" formControlName="password" placeholder=" ">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Password</label>
                        <validation-error [errorClass]="'text-danger'" [control]="formSignupData.get('password')"></validation-error>
                      </div>
                    </div>


                  </div>
                </div>

              </div>
            </div>

            <div nz-carousel-content [hidden]="!(formSignupData.get('name').valid && formSignupData.get('role').valid && formSignupData.get('email').valid && formSignupData.get('mobile').valid)">
              <div class="">
                <div class="login-title ">
                  <h1>Sign up</h1>
                  <h3 class="mb-3 mt-3">Bank Details</h3>
                 </div>
            <div class="container-fluid p-0">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input class="inputMaterial" type="text" placeholder=" " formControlName="bankAcount">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Bank Name</label>
                    <validation-error [errorClass]="'text-danger'" [control]="formSignupData.get('bankAcount')"></validation-error>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input class="inputMaterial" type="number" placeholder=" " formControlName="bankNumber">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Account Number</label>
                    <validation-error [errorClass]="'text-danger'" [control]="formSignupData.get('bankNumber')"></validation-error>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input class="inputMaterial" type="number" placeholder=" " value="" formControlName="iban">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>IBAN</label>
                    <validation-error [errorClass]="'text-danger'" [control]="formSignupData.get('iban')"></validation-error>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input class="inputMaterial" type="number" placeholder=" " value="" formControlName="vatnumber">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>VAT Number</label>
                    <validation-error [errorClass]="'text-danger'" [control]="formSignupData.get('vatnumber')"></validation-error>
                  </div>
                </div>
              </div>
            </div>

              </div>
            </div>













        </nz-carousel>

        <div class="login-buttons" *ngIf="currentStep == 0">
          <button class="btn btn-next" type="button" [disabled]="formSignupData.get('companyNameAr').invalid || formSignupData.get('companyNameEn').invalid" (click)="goTo(1)" >
            Next
          </button>

          <a [routerLink]="['/login']" class="btn btn-outline-purble" type="button">
            Already have a Taj account? Sign in
          </a>
        </div>
        <div class="login-buttons"  *ngIf="currentStep == 1">
          <button class="btn btn-next" type="button" (click)="goTo(2)" [disabled]="formSignupData.get('name').invalid || formSignupData.get('role').invalid || formSignupData.get('email').invalid || formSignupData.get('mobile').invalid">
            Next
          </button>
          <button class="btn btn-outline-purble" type="button" (click)="goTo(0)">
            Previews step
          </button>
         </div>
         <div class="login-buttons" *ngIf="currentStep == 2">
          <button class="btn btn-next" type="button" (click)="registerAction()" [disabled]="formSignupData.get('bankAcount').invalid || formSignupData.get('bankNumber').invalid || formSignupData.get('iban').invalid || formSignupData.get('vatnumber').invalid">
            Save
          </button>
          <button class="btn btn-outline-purble" type="button" [routerLink]="['/login']">
             Discard
          </button>
         </div>

      </form>




    </div>
  </div>
</div>
<!--/login wrapper-->
