<div class="row">
   <div class="col-md-8">
      <div class="page-heading d-flex align-items-center justify-content-between">
         <h1>Pay</h1>
         <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item">
               <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                  aria-controls="pills-home" aria-selected="true">Inbox</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                  aria-controls="pills-profile" aria-selected="false">Scheduled</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                  aria-controls="pills-contact" aria-selected="false">Paid</a>
            </li>
         </ul>
      </div>
      <div class="">
         <div class="tab-content" id="pills-tabContent">
            <app-bills-cards [(search)]="search" (selectedcard)='selectedcardData($event)' type="INBOX" class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"></app-bills-cards>
            <app-bills-cards [(search)]="search" (selectedcard)='selectedcardData($event)' type="SCHEDULED" class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" ></app-bills-cards>
            <app-bills-cards [(search)]="search" (selectedcard)='selectedcardData($event)' type="PAID" class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"></app-bills-cards>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <app-payment-card *ngIf="selectedcard" [(selectedcard)]="selectedcard"></app-payment-card>
   </div>
</div>




<!--Modal add bill-->
<app-add-bill></app-add-bill>
<!--Modal add bill-->
<!--Modal  bill details-->
<app-bills-details></app-bills-details>
<!--Modal bill details-->