<!--Loader-->
<div class="loader-wrapper" *ngIf="false">
  <div class="loader"></div>

  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<!--Loader-->
<!--login wrapper-->
<div class="login-wrapper row">
  <div class="login_left mobileHidden col-12 col-sm-12 col-md-7">
    <nz-carousel nzAutoPlay nzDotPosition="left">
      <div nz-carousel-content >
        <div class="slide">
          <div class="slide__img">
          </div>
          <div class="slide__content">
            <div class="slide__content--headings text-center">
              <img src="../assets/img/slider-1.svg" alt="slider"
                   class="animated top-title"
                   data-animation-in="zoomInImage" data-delay-in="0.1">

              <h2 class="animated title"
                  data-animation-in="fadeIn"  data-delay-in="0.3">
                Secured<br/>
                Operation
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div nz-carousel-content >
        <div class="slide">
          <div class="slide__img">
          </div>
          <div class="slide__content">
            <div class="slide__content--headings text-center">
              <img src="../assets/img/slider-2.svg" alt="slider"
                   class="animated top-title" data-animation-in="zoomInImage" data-delay-in="0.1">
              <h2 class="animated title" data-animation-in="zoomInImage"  data-delay-in="0.3">
                Saving<br/>
                Online
              </h2>
            </div>
          </div>
        </div>
      </div>

      <div nz-carousel-content>
        <div class="slide">
          <div class="slide__img">
          </div>
          <div class="slide__content">
            <div class="slide__content--headings text-center">
              <img src="../assets/img/slider-3.svg" alt="slider"
                   data-animation-in="fadeInBottom"
                   data-delay-in="0.1">

              <h2 class="animated title" data-animation-in="fadeInBottom" data-delay-in="0.3">
                Safely transfer <br/>
                your money
              </h2>
            </div>
          </div>
        </div>
      </div>

    </nz-carousel>




  </div>
  <div class="login_right col-12 col-sm-12 col-md-5">
    <div class="login_form">
      <div class="login-logo">
        <img src="../assets/img/main-logo.svg" alt="logo">
      </div>



      <form  nz-form [formGroup]="resetRequestForm" autocomplete="disabled">
        <nz-spin nzTip="Loading..." [nzSpinning]="isLoading">
          <div class="">
            <div class="login-title">
              <h1>Reset your password</h1>
            </div>

            <div class="alert alert-warning" *ngIf="!success">
              <span>Enter the email address you used to register.</span>
            </div>

            <div class="alert alert-success" *ngIf="success">
              <span>Check your emails for details on how to reset your password.</span>
            </div>

            <div class="form-group">
              <input class="inputMaterial" #email nz-input formControlName="email" type="email" (change)="emailIsChanged()" >
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Company e-mail</label>
              <div
                      *ngIf="
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            "
              >
                <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.required"> Your email is required. </small>

                <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.email"> Your email is invalid. </small>

                <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.minlength">
                  Your email is required to be at least 5 characters.
                </small>

                <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.maxlength">
                  Your email cannot be longer than 100 characters.
                </small>
              </div>

            </div>


          </div>
        </nz-spin>
        <div class="login-buttons">

          <a class=" btn btn-submit" (click)="forget()" >
            forget password
          </a>

        </div>
      </form>

    </div>
  </div>
</div>
<!--/login wrapper-->


